@media screen and (max-width: 600px) {
   *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
   }
   body{
      background-color:#E8E8E8;
   }
   nav{
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      height: 100%;
      background-color: #fff;
      z-index: 1;
      width: 80px;
      overflow: hidden;
      transition: width 0.2s linear;
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
   }

   .logo{
      width: 200px;
      text-align: center;
      display: flex;
      justify-content: center;
      margin: 10px 0px 0px 0px;
   }
   .logo img{
      height: 45px;
      width: 45px;
      border-radius: 50%;
   }
   .logo span{
      font-weight: bold;
      padding-left: 30px;
      font-size: 18px;
      text-transform: uppercase;
   }
   a{
      position: relative;
      color: rgba(85, 83, 83);
      font-size: 14px;
      display: table;
      padding: 10px;
      width: 300px;
   }
   .fas{
      position: relative;
      width: 70px;
      height: 40px;
      top: 14px;
      font-size: 20px;
      text-align: center;
   }
   .nav-items{
      position: relative;
      top: 12px;
      margin-left: 10px;
   }
   a:hover{
      width: 280px;
      background-color: #eee;
      border-radius: 20px;
   }
   nav:hover{
      width: 280px;
      transition: all 0.5s ease;
   }
   .logout{
      position: absolute;
      bottom: 0;
   }
   .body{
      float: right;
      width: 78%;
   }
   .head-h1{
      background-color: #FF7C7C;
      height: 100px;
      width: 100%;
      border-radius: 0px 0px 20px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .head-h1 h1{
      font-size: 30px;
   }
   .btn-style{
      margin: 10px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .btn{
      background-color: #FF7C7C;
      margin: 12px;
      height: 50px;
      width: 50px;
      border: none;
      border-radius: 40px;
      display: flex;
   }
   .btn:hover{
      background-color: rgb(187, 68, 68);
      cursor: pointer;
      transition: 0.3s;
   }
   .para1{
      background-color: #FF7C7C;
      height: 100px;
      width: 98%;
      border-radius: 10px;
   }
   .para2{
      background-color: #FF7C7C;
      height: 100px;
      width: 98%;
      border-radius: 10px;
   }
   .para3{
      background-color: #FF7C7C;
      height: 100px;
      width: 98%;
      border-radius: 10px;
   }
}